# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/

# Uploads
uploads/
build/
.venv/
venv/

# Environment
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# Database
*.db

# MLflow
mlruns/
mlartifacts/

# ChromaDB
chroma_data/

# Airflow
airflow.db
airflow-webserver.pid
logs/

# OS
.DS_Store
Thumbs.db

# Test
.pytest_cache/
htmlcov/
.coverage
